@import 'fonts.scss';
.footer{
	background-color: #fff;
	display: flex;
	position: relative;
	.footer__left{
		display: inline-block;
	}
	.footer__altano{
		width: 132px;
		height: 32px;
		margin: 50px 50px 0 30px;
	}
	.footer__rights{
		margin: 145px 0 0 30px;
		padding-bottom: 50px;
		font-family: monlight;
		font-size: 10px;
	}
	.footer__flex{
		display: flex;
		align-items: start;
		justify-content: space-between;
		width: 580px;
		margin-top: 50px;
		ul{
			margin: 0;
			padding: 0;
			margin-left: 70px;
			li{
				margin: 0;
				padding: 0;
				margin-bottom: 10px;
				a{
					text-transform: uppercase;
					font-family: monsemibold;
					font-size: 10px;
					color: #7d7d7d;
				}
			}
		}
	}
	.footer__right{
		margin-top: 50px;
		margin-left: 100px;
		p{
			font-family: monlight;
			font-size: 14px;
			margin: 0;
			margin-bottom: 30px;

		}
		.footer__input{
			font-family: monlight;
			font-size: 10px;
			border: none;
			border-bottom: 1px solid black;
			width: 270px;
		}
		.footer__submit{
			background-color: #fff;
			color: #000;
			font-family: monsemibold;
			font-size: 10px;
			border: none;
		}
	}
	.footer__logos{
		width: 270px;
		display: flex;
		justify-content: space-between;
		position: absolute;
		right: 50px;
		bottom: 50px;
		img{
			width: 17px;
			height: 17px;
		}
		.footer__opex{
			width: 50px;
			height: 20px;
		}
		a{
			text-decoration: none;
		}
		span{
			
			font-family: monlight;
			font-size: 9px;
			position: relative;
			bottom: 15px;
			right: 3px;
		}
	}
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}



@media (min-width: 767px) and (max-width: 1278px) {


.footer{
	background-color: #fff;
	display: flex;
	position: relative;
	height: 460px;
	.footer__left{
		display: inline-block;
	}
	.footer__altano{
		width: 132px;
		height: 32px;
		margin: 50px 50px 0 30px;
	}
	.footer__rights{
		margin: 300px 0 0 30px;
		padding-bottom: 50px;
		font-family: monlight;
		font-size: 10px;
	}
	.footer__flex{
		display: flex;
		align-items: start;
		justify-content: space-between;
		width: 580px;
		margin-top: 50px;
		ul{
			margin: 0;
			padding: 0;
			  margin-left: 30px;
   			 margin-right: 20px;
			li{
				margin: 0;
				padding: 0;
				margin-bottom: 10px;
				width: 135px;
				a{
					text-transform: uppercase;
					font-family: monsemibold;
					font-size: 10px;
					color: #7d7d7d;
				}
			}
		}
	}
	.footer__right{
		position: absolute;
		width: 540px;
		top: 240px;
		left: 143px;
		p{
			font-family: monlight;
			font-size: 14px;
			margin: 0;
			margin-bottom: 30px;

		}
		.footer__input{
			font-family: monlight;
			font-size: 10px;
			border: none;
			border-bottom: 1px solid black;
			width: 407px;
		}
		.footer__submit{
			background-color: #fff;
			color: #000;
			font-family: monsemibold;
			font-size: 10px;
			border: none;
		}
	}
	.footer__logos{
		width: 270px;
		display: flex;
		justify-content: space-between;
		position: absolute;
		right: 50px;
		bottom: 50px;
		img{
			width: 17px;
			height: 17px;
		}
		.footer__opex{
			width: 50px;
			height: 20px;
		}
		a{
			text-decoration: none;
		}
		span{
			
			font-family: monlight;
			font-size: 9px;
			position: relative;
			bottom: 15px;
			right: 3px;
		}
	}
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}

}

@media (min-width: 320px) and (max-width: 767px) { 
.footer {
    background-color: #fff;
    display: block;
    position: relative;
    height: 700px;
}
.footer .footer__left {
    display: inline-block;
}
.footer .footer__altano {
    width: 110px;
    height: 25px;
    margin: 40px 0 0 15px;
}
.footer .footer__rights {
    margin: 570px 0 0 15px;
    /* padding-bottom: 50px; */
    font-family: monlight;
    font-size: 10px;
}
.footer .footer__flex {
    display: block;
    width: 280px;
    position: relative;
    top: -661px;
}
.footer .footer__flex ul {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    /* width: 67px; */
}
.flex__ul2 {
    position: relative;
    top: -205px;
    left: 165px;
}
.flex__ul3 {
    position: relative;
    top: -175px;
}
.footer .footer__right {
    position: relative;
    top: -827px;
    left: 20px;
}
.footer .footer__right p {
    font-family: monlight;
    font-size: 14px;
    margin: 0;
    margin-bottom: 7px;
}
.footer .footer__right .footer__input {
    font-family: monlight;
    font-size: 10px;
    border: none;
    border-bottom: 1px solid black;
    width: 208px;
}
.footer .footer__right .footer__submit {
    background-color: #fff;
    color: #000;
    font-family: monsemibold;
    font-size: 12px;
    display: inline-block;
    border: none;
}
.footer .footer__logos {
    width: 270px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 31px;
    bottom: 85px;
}
.footer .footer__right {
	margin-left: 0px;
	margin-top: 0;
}
}