@import 'fonts.scss';
.header{
	display: grid;
	grid-template-columns: 30fr 70fr 130fr 70fr 190fr 150fr 150fr 80fr 60fr 60fr 60fr 130fr 70fr 30fr;
	grid-template-rows: 90px;
	align-items: center;
}
.header__button{
	font-family: monbold;
	font-size: 12px;
	color: #000;
	text-decoration: none;
	padding: 16px 30px;
	background-color:#fff;

}
.header__contacts{
	font-family: monreg;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	margin: 0;
}
.header__element{
	grid-column-start: 2;
	grid-column-end: 4;
	&1{
	grid-column-start: 4;
	grid-column-end: 5;
	}
	&2{
	grid-column-start: 5;
	grid-column-end: 6;
	}
	&3{
	grid-column-start: 9;
	grid-column-end: 10;
	}
	&4{
	grid-column-start: 10;
	grid-column-end: 11;
	}
	&5{
	grid-column-start: 11;
	grid-column-end: 12;
	}
	&6{
	grid-column-start: 12;
	grid-column-end: 14;
	}
}
@media (min-width: 767px) and (max-width: 1278px) { 

.header{
	display: grid;
	grid-template-columns: 30fr 140fr 25fr 30fr 25fr 115fr 45fr 25fr 25fr 25fr 25fr 35fr 25fr 165fr 33fr;
	grid-template-rows: 80px;
	align-items: center;
}
.header__button{
	font-family: monsemibold;
	font-size: 10px;
	color: #000;
	text-decoration: none;
	padding: 15px 20px;
	background-color:#fff;
	text-align: center;

}
.header__contacts{
	font-family: monreg;
	font-size: 10px;
	color: #fff;
	text-decoration: none;
	margin: 0;
}
.header__element{
	grid-column-start: 2;
	grid-column-end: 3;
	&1{
	grid-column-start: 4;
	grid-column-end: 5;
	}
	&2{
	grid-column-start: 6;
	grid-column-end: 7;
	}
	&3{
	grid-column-start: 8;
	grid-column-end: 9;
	}
	&4{
	grid-column-start: 10;
	grid-column-end: 11;
	}
	&5{
	grid-column-start: 12;
	grid-column-end: 13;
	}
	&6{
	grid-column-start: 14;
	grid-column-end: 15;
	}
}
}

@media (min-width: 320px) and (max-width: 767px) { 
.header__element6 {
    display: none;
}
.header__element2 {
    display: none;
}
.header__element1 {
   display:none;
}
.header {
    grid-template-columns: 30fr 70fr 100fr 70fr 190fr 51fr 0fr 100fr 100fr 100fr 100fr 40fr 0fr 0fr;
}
}