@import 'header.scss'; 
@import 'fonts.scss';
@import 'footer.scss';
.wellc{
	background-image: url(../img/about_back.jpg);
	height: 720px;
	background-repeat: no-repeat;
	background-size: cover;
	div{
		width: 545px;
		padding: 250px 0 0 100px;
		color: #fff;
		h3{
			font-family: monlight;
			font-size:52px;
			color: #fff;
			margin: 0;
			margin-bottom: 35px;
		}
		p{
			font-family:monreg;
			font-size:18px;
			margin: 0;
			line-height: 30px;
		}
	}
}

//section wellc media

@media only screen and (max-width: 1278px) {
	
	.wellc{
	height: 1020px;
	background-position: 30%;
	
	div{
		width: 545px;
		padding: 330px 0 0 30px;
		color: #fff;
		h3{
			font-family: monlight;
			font-size:52px;
			color: #fff;
			margin: 0;
			margin-bottom: 35px;
		}
		p{
			font-family:monreg;
			font-size:18px;
			margin: 0;
			line-height: 30px;
		}
	}
}
}

//section wellc media
.prof{
	background-color: #f8f7f7;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding-top: 100px;
	padding-bottom: 100px;
	margin: 0 auto;
	.wellc__white__rect{
		background-color: #fff;
		position: absolute;
		top: 185px;
		right: 30px;
		bottom: 180px;
		left: 30px;
	}
	.wellc_box1{
		position: relative;
		z-index: 2;
		width: 50%;
		min-width: 630px;
		height: 500px;
	}
	.wellc_box2{
		position: relative;
		z-index: 2;
		width: 50%;
		min-width: 630px;
		height: 500px;
		h3{
			margin: 0 0 35px 75px;
			font-family: monlight;
			font-size: 52px;
		}
		p{
			font-family: monreg;
			font-size: 16px;
			line-height: 30px;
			margin: 0 150px 0 75px;
		}
	}
	.wellc_box3{
		position: relative;
		z-index: 2;
		width: 50%;
		min-width: 630px;
		height: 500px;
		h3{
			margin: 80px 120px 30px 100px;
			font-family: monlight;
			font-size: 52px;
		}
		p{
			font-family: monreg;
			font-size: 16px;
			line-height: 30px;
			margin: 0 155px 0 100px;
		}
	}
	.wellc_box4{
		position: relative;
		z-index: 2;
		width: 50%;
		min-width: 630px;
		height: 500px;
	}
}
.team__flex__arrow{
	transform: translateY(-50px);
}
//section prof media
@media only screen and (max-width: 1278px) {
	.prof{
	background-color: #f8f7f7;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding-top: 80px;
	padding-bottom: 100px;
	
	margin-bottom: -3px;
	.wellc__white__rect{
		background-color: #fff;
		position: absolute;
		top: 185px;
		right: 0px;
		bottom: 180px;
		left: 0px;
	}
	.wellc_box1{
		position: relative;
		z-index: 2;
		width: 100%;
		min-width: 630px;
		height: 500px;
		margin: 0 30px 40px 30px;
		order: 1;
	}
	.wellc_box2{
		position: relative;
		z-index: 2;
		width: 100%;
		height: 360px;
		order: 2;
		h3{
			margin: 0 180px 30px 30px;
			font-family: monlight;
			font-size: 52px;
		}
		p{
			font-family: monreg;
			font-size: 16px;
			line-height: 30px;
			margin: 0 30px 0 30px;
		}
	}
	.wellc_box3{
		position: relative;
		z-index: 2;
		width: 100%;
		min-width: 630px;
		height: 300px;
		order: 4;
		h3{
			margin: 40px 30px 30px 30px;
			font-family: monlight;
			font-size: 52px;
		}
		p{
			font-family: monreg;
			font-size: 16px;
			line-height: 30px;
			margin: 0 30px 0 30px;
		}
	}
	.wellc_box4{
		position: relative;
		z-index: 2;
		width: 100%;
		min-width: 630px;
		height: 500px;
		margin: 0 30px;
		order: 3;
	}
}
}

//section prof media


.about{
	padding-top: 0;
	padding-bottom: 100px;
}
.team{
	background-color: #f8f7f7;
	.partners{
		margin-top: 0;
		position: relative;
		z-index: 2;
		h3{
			position: relative;
			z-index: 2;
		}
		.partners__white{
			background-color: #fff;
			position: absolute;
			top: -70px;
			left: 0;
			bottom: -220px;
			right: 300px;
			z-index: 0;
		}
	}
	.partners__circle{
		position: relative;
		z-index: 2;
		padding-bottom: 150px;
	}
	h4{
		font-family: monlight;
		font-size: 52px;
		margin: 0;
		padding-left: 100px;
	}
	.team__flex{
		margin: 0 30px 0 30px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding-top: 60px;
		padding-bottom: 160px;
		h5{
			font-family: monlight;
			font-size: 18px;
			margin: 40px 0 25px 0;
		}
		p{
			font-family: monlight;
			font-size: 14px;
		}
	}
}

//section prof media

@media only screen and (max-width: 1278px) {
	.team{
	background-color: #f8f7f7;
	
	.partners{
		margin-top: 0;
		position: relative;
		z-index: 2;
		h3{
			position: relative;
			z-index: 2;

		}
		.partners__white{
			background-color: #fff;
			position: absolute;
			top: -70px;
			left: 0;
			bottom: -220px;
			right: 300px;
			z-index: 0;
		}
	}
	.partners__circle{
		position: relative;
		z-index: 2;
		padding-bottom: 150px;
	}
	h4{
		font-family: monlight;
		font-size: 52px;
		margin: 0;
		padding-left: 30px;
		margin-top: -5px;
	}
	.team__flex{
		margin: 0 30px 0 30px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding-top: 60px;
		padding-bottom: 160px;
		h5{
			font-family: monlight;
			font-size: 18px;
			margin: 40px 0 25px 0;
		}
		p{
			font-family: monlight;
			font-size: 14px;
		}
	}
}
.team__flex__none{
	display: none;
}
.team__flex__img{
	width: 205px;
	height: 270px;
}
.circle__flex__none{
	display: none;
}


}
//section prof media


@media only screen and (max-width: 767px) { 
	body{
	margin: 0px;
	background-color: #f8f7f7;
}
	.container {
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  overflow: visible;
}
.wellc {
    background-image: url(../img/about_back.jpg);
    height: 568px;
    background-repeat: no-repeat;
    background-size: cover;
}
.wellc div {
    width: 280px;
    padding: 60px 20px 0 20px;
    color: #fff;
}
.wellc div h3 {
    font-family: monlight;
    font-size: 38px;
    color: #fff;
    margin: 0;
    margin-bottom: 20px;
    padding-right: 0;
}
.wellc div p {
    font-family: monreg;
    font-size: 16px;
    margin: 0;
    line-height: 28px;
}
.prof .wellc_box1 {
    position: relative;
    z-index: 2;
    width: 280px;
    min-width: 280px;
    height: 190px;
    margin: 40px 20px;
}
.prof .wellc_box2 {
    min-width: 280px;
}
.prof .wellc_box2 h3 {
    margin: 10px 20px;
    font-size: 30px;
    padding: 0;
}
.prof .wellc_box2 p {
    font-family: monreg;
    font-size: 16px;
    line-height: 30px;
    margin: 0 20px;
}
.prof .wellc_box3 {
    position: relative;
    z-index: 2;
    width: 100%;
    min-width: 280px;
    height: auto;
    order: 4;
}
.prof .wellc_box4 {
    position: relative;
    z-index: 2;
    width: 100%;
    min-width: 280px;
    height: 190px;
    margin: 0 20px;
    order: 3;
    margin-top: 110px;
}
.prof .wellc_box3 h3 {
    margin: 30px 20px;
    font-family: monlight;
    font-size: 30px;
}
.prof .wellc_box3 p {
    margin: 0 20px;
}
.about{
	padding-top: 100px;
}
.about__why {
    display: block;
}
.about__why .about__img {
    width: 325px;
    height: 375px;
}
.about__why .about__why__h3{
	font-size: 30px;
	    position: relative;
    bottom: 496px;
    margin-left: 20px;
}
.about__why .about__grid {
    display: block;
    width: 275px;
    margin-left: 51px;
    margin-top: -302px;
}
.about__why .about__grid h3 {
    margin: 0;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-top: -34px;
}
.about__why .about__grid p {
    font-family: monlight;
    font-size: 16px;
    line-height: 30px;
    margin-left: 20px;
    margin-top: -20px;
    margin-bottom: 79px;
}
.prof .wellc__white__rect {
    display: none;
}
.team h4 {
    font-family: monlight;
    font-size: 30px;
    margin: 0;
    padding-left: 20px;
    margin-top: -5px;
}
.team__flex__none__320{
	display: none;
}
.team .team__flex {
    padding-bottom: 70px;
}
.team .partners .partners__white {
    background-color: #fff;
    position: absolute;
    top: -70px;
    left: 0px;
    bottom: -220px;
    right: 0px;
    z-index: 0;
}
.team .partners__circle {
    position: relative;
    z-index: 2;
    padding-bottom: 150px;
    margin-top: 45px;
}
.partners {
    display: block;
    margin-top: 30px;
}
.partners h3 {
    font-size: 30px;
    margin: 0px 20px;
    padding: 0;
}
.partners a {
    display: block;
    margin: 30px 20px;
}
.team .partners__circle {
    display: block;
    padding-bottom: 100px;
}
.partners__circle__hide{
		display: none;
}
.partners__circle__320{
	width: 60px;
}
.chairs {
    display: block;
    background-image: url(../img/chairs_background.jpg);
        padding-bottom: 20px;
}
.chairs .chairs__text h3 {
    color: #fff;
    font-size: 30px;
    margin: 20px 20px;
}
.chairs .chairs__text p {
    color: #fff;
    font-family: monlight;
    font-size: 18px;
    margin: 0 20px;
    margin-bottom: 20px;
}
.chairs .chairs__form {
    grid-area: 1 / 6 / 2 /8;
    align-self: center;
    justify-self: start;
    width: 280px;
    height: 190px;
    background-color: #fff;
    margin: 30px 20px;
}
.chairs .chairs__form .form__date {
    width: 60%;
    margin-left: 20%;
    border: none;
    border-bottom: 1px solid black;
    margin-top: 35px;
}
.chairs .chairs__form .form__submit {
    margin-top: 25px;
}
}