@import 'header.scss'; 
@import 'fonts.scss';
@import 'footer.scss';
body{
	margin: 0px;
	background-color: #282828;
}
.container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}
.head{
	background-image: url(../img/news_one_head.jpg);
	.bread{
	ul{
		padding: 0;
		margin: 0;
		margin-left: 30px;
		li{
		display: inline;
		a{
			padding: 0;
			margin: 0;
			font-family: monreg;
			font-size: 12px;
			text-decoration: none;
			color: #bbbaba;
			text-transform: none;
			img{
				padding-bottom:3px;
				padding-left:10px;
				padding-right: 10px;
			}
			span{
				color: #fff;
			}
		}
		}
	}
	
}
	.head__news__back{
		display: block;
		margin: 35px 0 0 100px;
		span{
			font-family: monsemibold;
			font-size: 12px;
			color: #fff;
			padding-left: 10px;
			text-transform: uppercase;
		}
	}
	.head__date{
		display: block;
		margin: 80px 0 0 100px;
		font-family: monlight;
		font-size: 12px;
		color: #fff;
	}
	h4{
		margin: 0;
		padding: 40px 100px 188px 100px;
		font-family: monreg;
		font-size: 36px;
		color: #fff;
	}
}
.news{
	background-color: #f8f7f7;
	.news__p1,{
		font-family:monreg;
		font-size: 16;
		line-height: 30px;
		margin: 0;
		padding: 75px 290px 65px 290px;
	}
	.news__crsl{
		
		position: relative;
		.crsl__main{
			display: block;
			margin: 0 auto;
		}
		.crsl__left{
			position: absolute;
			top: 180px;
			left: 220px;
		}
		.crsl__right{
			position: absolute;
			top: 180px;
			right: 220px;
		}
	}
	.news__p2{
		font-family:monreg;
		font-size: 16;
		line-height: 30px;
		margin: 0;
		padding: 80px 290px 20px 290px;
	}
	.news__p3{
		font-family:monreg;
		font-size: 16;
		line-height: 30px;
		margin: 0;
		padding: 0 290px 60px 290px;
		a{
			color: #000;
			text-decoration: underline;
		}
	}
	video{
		display: block;
		margin: 0 auto;
		padding: 0;
	}
	.news__back{
		display: block;
		margin: 60px 0 90px 295px;
		span{
			font-family: monsemibold;
			font-size: 12px;
			color: #000;
			padding-left: 15px;
			text-transform: uppercase;
		}
	}
	.news__also{
		margin-left: 290px;
		margin-bottom: 60px;
		font-family: monlight;
		font-size: 24px;
	}
	.news__chair{
		display: block; 
		margin: 0 auto;
		margin-bottom: 35px;
	}
	.news__anotation{
		font-family: monlight;
		font-size: 18px;
		margin-left: 290px;
	}
	.news__anotation__date{
		font-family: monlight;
		font-size: 12px;
		margin-left: 290px;
		padding-bottom: 90px;
		margin-bottom: 0;
	}
}

//section media

@media only screen and (max-width: 1278px) { 
		body{
	margin: 0px;
	background-color: #f8f7f7;
}
.container {
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}
.head .head__news__back {
    display: block;
    margin: 35px 0 0 30px;
}
.head .head__date {
    display: block;
    margin: 80px 0 0 30px;
    font-family: monlight;
    font-size: 12px;
    color: #fff;
}
.head h4 {
    margin: 0;
    padding: 40px 30px 188px 30px;
    font-family: monreg;
    font-size: 36px;
    color: #fff;
}
.head{
	height: 528px;
}
.news .news__p1 {
    font-family: monreg;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    padding: 60px 30px 50px 30px;
}
.news .news__p2 {
    font-family: monreg;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    padding: 60px 30px 20px 30px;
}
.news .news__p3 {
    font-family: monreg;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    padding: 0px 30px 50px 30px;
}
.news .news__back {
    display: block;
    margin: 60px 0 90px 30px;
}
.news .news__also {
    margin-left: 30px;
    margin-bottom: 60px;
    font-family: monlight;
    font-size: 24px;
}
.news .news__anotation, .news .news__anotation__date {
    margin-left: 30px;
}
.news .news__crsl .crsl__left {
    position: absolute;
    top: 180px;
    left: 47px;
    height: 30px;
}
.news .news__crsl .crsl__right {
    position: absolute;
    top: 180px;
    right: 58px;
    height: 30px;
}
}

@media only screen and (max-width: 767px) { 
		.container {
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}
.head {
    height: 566px;
}
.head .bread ul {
    padding: 0;
    margin: 0;
    margin-left: 20px;
}
.head .head__news__back {
    display: block;
    margin: 20px;
}
.head .head__date {
    margin: 40px 0 0 20px;
}
.head h4 {
    margin: 0;
    padding: 26px 20px 0 20px;
    font-family: monreg;
    font-size: 24px;
    color: #fff;
}
.news .news__p1 {
    font-family: monreg;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
    padding: 30px 20px;
}
.news .news__crsl .crsl__main {
    display: block;
    margin: 0 auto;
        height: 180px;
    width: 280px;
}
.news .news__crsl .crsl__left {
    position: absolute;
    top: 75px;
    left: 30px;
    height: 10px;
    width: 15px;
}
.news .news__crsl .crsl__right {
    position: absolute;
    top: 75px;
    right: 30px;
    height: 10px;
    width: 15px;
}
.news .news__p2 {
    font-family: monreg;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
    padding: 30px 20px;
}
.news .news__p3 {
    font-family: monreg;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
    padding: 30px 20px;
    padding-top: 0px;
}
video {
    width: 280px;
    height: 180px;
}
.news .news__back {
    display: block;
    margin: 50px 0 50px 20px;
}
.news .news__also {
    margin-left: 20px;
    margin-bottom: 50px;
    font-family: monlight;
    font-size: 24px;
}
.news .news__chair {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
    width: 280px;
    height: 180px;
}
}