@import 'header.scss'; 
@import 'fonts.scss';
@import 'footer.scss';
body{
	margin: 0px;
	background-color: #282828;
}
.header{
	background-color:#f8f7f7;
	.header__button{
	background-color:#000;
	color: #fff;

}
.header__contacts{
	color: #000;
}
}

.container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}
.partners{
	background-color: #f8f7f7;
	position: relative;
	padding-bottom: 60px;
	.partners__we{
		position: absolute;
		top: 196px;
		p{
			font-family: monreg;
			font-size: 18;
			line-height: 28px;
		}
		span{
			font-family: monlight;
			font-size: 14;
		}
	}
	h3{
			margin: 0;
			padding: 60px 0 70px 0;
			margin-left: 140px;
			font-family: monreg;
			font-size: 52px;
		}
	.partners__info{
		width: 750px;
		display: inline-block;
		margin-left: 140px;
		h4{
			margin: 0;
			padding: 0;
			font-family: monreg;
			font-size: 24px;
			padding-bottom: 30px;
		}
		ol{
			margin: 0;
			padding: 0;
			margin-left: 15px;
			li{
				list-style-type: decimal;
				padding-left: 50px;
				padding-bottom: 30px;
				font-family: monlight;
				font-size: 16px;
				line-height: 24px;
			}
		}
		h5{
			margin: 0;
			padding: 5px 0;
			font-family: monreg;
			font-size: 18px;
		}
		ul{
			margin: 0;
			padding: 0;
			margin-left: 15px;
			li{
				list-style-type: square;
				padding-left: 50px;
				padding-top: 15px;
				padding-bottom: 15px;
				font-family: monlight;
				font-size: 16px;
				line-height: 24px;
			}
		}
		p{
			font-family: monlight;
				font-size: 16px;
				line-height: 24px;
		}
		.partners__att{
			margin-top: 50px;
		}

	}
	.partners__we{
		width: 250px;
		display: inline-block;
	}
}
.ask{
	background-image: url(../img/pay_ask_us.jpg);
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	.ask__q{
		display: inline-block;
		width: 400px;
		h3{
			color: #fff;
			font-family: monreg;
			font-size:52px;
			margin: 0;
		}
		p{
			color: #fff;
			font-family: monreg;
			font-size:18px;
			margin-top: 30px;
		}
	}
	.ask__form{
		display: inline-block;
		width: 415px;
		height: 350px;
		background-color: #fff;
		margin: 90px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		input{
			display: block;
			border: none;
			width: 275px;
			border-bottom: 1px solid black;
			margin-top: 35px;
		}
		.ask__submit{
			font-family: monbold;
			font-size: 16px;
			text-align: right;
			background-color: #fff;
			border: none;
			cursor: pointer;
		}
	}
}
.about{
	background-color:#f8f7f7;
	padding-top:100px;
}
.about__why{
	display: grid;
	grid-template-columns: 30fr 70fr 130fr 260fr 150fr 150fr 260fr 130fr 70fr 30fr;
	grid-template-rows: 260px 210px 220px;
	background-color:#f8f7f7;
	.about__img{
		grid-area: 1 / 1 / 3 /6;
		width: 520px;
		height: 470px;
	}
	h3{
		grid-area: 1 / 6 / 2 /8;
		align-self: center;
		font-size: 52px;
	}
	.about__grid{
		grid-area: 2 / 4 / 4 /12;
		background-color:#fff;
		position: relative;
		display: grid;
		grid-template-columns: 70px 270px 270px 270px 1fr;
		grid-template-rows: 215px 215px;
		h3{
			margin:0;
			margin-bottom: 25px;
		}
		div{
			width:230px;
			margin-top: -30px;
		}
		p{
			font-family: monlight;
			font-size: 16px;
			line-height: 30px;
		}
		.about__1{
			grid-area: 1 / 2 / 2 / 3 ;
		}
		.about__2{
			grid-area: 1 / 3 / 2 / 4 ;
		}
		.about__3{
			grid-area: 1 / 4 / 2 / 5 ;
		}
		.about__4{
			grid-area: 2 / 2 / 3 / 3 ;
		}
		.about__5{
			grid-area: 2 / 3 / 3 / 4 ;
		}
		.about__6{
			grid-area: 2 / 4 / 3 / 5 ;
		}
	}
}
.intrend{
	display: grid;
	grid-template-columns: 30fr 70fr 270fr 270fr 270fr 270fr 70fr 30fr;
	grid-template-rows: 260px 160px;
	background-color: #f8f7f7;
	padding-top: 100px;
	position: relative;
	h3{
		grid-column-start: 3;
		grid-column-end: 5;
		font-family: monlight;
		font-size: 52px;
		margin: 0;
		margin-top: 180px;
	}
	p{
		grid-column-start: 3;
		grid-column-end: 5;
		margin: 0;
		margin-top: 30px;
		width: 365px;
		font-family: monreg;
		font-size: 18px;
	}
	.intrend__bg{
		height: 617px;
		position: absolute;
		top: 210px;
		right: 100px;
	}
	.intrend__white{
		height: 340px;
		width: 950px;
		background-color: #fff;
		position: absolute;
		top: 435px;
		right: 30px;
		z-index: 0;
	}
	.intrend__flex{
		grid-column-start: 2;
		grid-column-end: 7;
		display: flex;
		justify-content:space-around;
		align-items: center;
		flex-wrap: wrap;
		position: relative;
		z-index: 2;
		padding-bottom: 180px;
		img{
			padding-left: 70px;
			padding-bottom: 50px;
		}
	}
}
h3{
	color:#0a0a0a;
	font-family: monlight;
	font-size: 30px;
}