@import 'header.scss'; 
@import 'fonts.scss';
@import 'footer.scss';
body{
	margin: 0px;
	background-color: #282828;
}
.container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}
.header{
	background-color:#f8f7f7;
	.header__button{
	background-color:#000;
	color: #fff;

}
.header__contacts{
	color: #000;
	}
}
.main{
	background-color:#f8f7f7;
	h3{
		font-family: monreg;
		font-size: 52px;
		margin: 0;
		padding: 50px 0 40px 100px;
	}
	p{
		margin: 0;
		padding: 0;
		margin-left: 100px;
		padding-bottom: 100px;
		width: 810px;
		font-family: monlight;
		font-size: 18px;
		line-height: 26px;
	}
	.main__wp{
		margin: 0 100px;
		padding-bottom: 40px;
		position: relative;
		padding-bottom: 60px;
		.wp__text{
			height: 250px;
			width: 400px;
			position: absolute;
			top: 85px;
			left: 115px;
			h4{
				font-family: monreg;
				font-size: 36px;
				color: #fff;
				margin: 0;
				padding: 0;
				padding-bottom: 25px;
			}
			p{
				font-family: monlight;
				font-size: 18px;
				color: #fff;
				margin: 0;
				padding: 0;
				width: 345px;
				line-height: 26px;
			}
			a{
				text-decoration: none;
				text-transform: uppercase;
				color: #000;
				background-color: #fff;
				font-family: monsemibold;
				font-size:16px;
				padding: 18px 30px;
				display: inline-block;
				margin-top: 40px;
			}
		}
		.wp__text2{
			left: 650px;
		}
	}
}
//section media

@media only screen and (max-width: 1278px) { 
		body{
	margin: 0px;
	background-color: #f8f7f7;
}
.container {
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}
.main h3 {
    padding: 50px 0 40px 30px;
}
.main p {
    margin-left: 30px;
    padding-bottom: 60px;
    width: 708px;
}
.main .main__wp {
    margin: 0 30px;
    padding-bottom: 40px;
}
.main .main__wp img{
    width: 708px;
}
.main .main__wp .wp__text {
    height: 250px;
    width: 400px;
    position: absolute;
    top: 18px;
    left: 60px;
}
.main .main__wp .wp__text h4 {
    font-family: monreg;
    font-size: 26px;
    color: #fff;
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
}
.main .main__wp .wp__text p {
    font-family: monlight;
    font-size: 15px;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 345px;
    line-height: 26px;
}
.main .main__wp .wp__text a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    font-family: monsemibold;
    font-size: 14px;
    padding: 15px 25px;
    display: inline-block;
    margin-top: 30px;
}
.main .main__wp .wp__text2{
	left: 345px;
}
}

//section media

@media only screen and (max-width: 767px) { 
.main h3 {
    padding: 20px;
    font-size: 30px;
}
.main p {
    margin: 0 20px;
    padding-bottom: 40px;
    width: auto;
    font-size: 14px;
}
.main .main__wp {
    margin: 0 20px;
    padding-bottom: 40px;
    overflow: hidden;
}
.main .main__wp img {
    width: 708px;
}
.main .main__wp .wp__text {
    height: 250px;
    width: 240px;
    position: absolute;
    top: 18px;
    left: 20px;
}
.main .main__wp .wp__text h4 {
    font-family: monreg;
    font-size: 24px;
    color: #fff;
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
}
.main .main__wp .wp__text p {
    font-family: monlight;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 260px;
    line-height: 26px;
}
.main .main__wp .wp__text a {
    padding: 15px 48px;
}
}